*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
# Ignore everything in the data directory
data/*
# But not the iRealXML folder
!data/iRealXML/

wandb/
runs/
src/wandb/
src/hf_dataset/
src/hf_dataset_tok/
src/hf_gpt2_chords/
src/__pycache__/*
models/

# Ignore pycache
__pycache__/

#Ignore wandb
wandb/